node_modules/
dist/
.env.local
.env.*.local
*.log
guide.*
guide2*
flows
.DS_Store
.vscode/
.idea/
*.swp
*.swo
*~
.env
/src/generated/prisma
SearchService_CDC.postman_collection.*
kibana_queries.md